<head>
    <link rel="stylesheet" href="main.css">
</head>
<form method="POST" action="/new">
    <h2>New Message</h2>
    <label for="messageUser">Username<br><br></label>
    <input placeholder="username"  type="text" id="messageUser" name="messageUser"><br><br>
    <label for="messageText">Message<br><br></label>
    <textarea placeholder="message" class="text"  type="text" id="messageText" name="messageText"></textarea><br><br>
    <input class="submit" type="submit" value="Submit">
  </form>