<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="./main.css">
    </head>
<body>
  <h1 class="mini">Mini Message App</h1>
  <a href="/new">New Message</a>
  <ul class="msg">
    <% for (let i = 0; i < messages.length; i++) { %>
      <li>
       <p><%= messages[i].text %></p>
       <p><b><%= messages[i].user %></b></p>
       <p><%= messages[i].added.toLocaleString() %></p>
       <a class="open" href="/message/<%= i %>">Open</a>
      </li>
    <% } %>
  </ul>
</body>
</html>