body{
    background-color: rgb(130, 91, 59);
    color:bisque;
}

input{
    border: none;
    padding: 0.8em;
    margin: 0.5em;
}
h1 .mini {
    font-size: 2em;
    font-family: monospace;
    color: aliceblue
}

.msg{
    margin-top: 2em;
}

li {
    margin: 2em;
    padding: 2em;
    border:rgb(90, 44, 21);
    border-style: solid;
    border-radius: 1em;
    max-width: 60%;
    list-style: none;
}


a{
    color:rgb(255, 255, 255);
    font-size: 1.5m;
    font-weight: bold;
    text-decoration: none;
}

li .open{
    float: right;
}

li .open :hover{
    color:black
}