<head>
  <title>Message Details</title>
  <link rel="stylesheet" href="./main.css">
</head>
<body>
  <h2>Message Details</h2>
  <p><b>User: </b> <%= message.user %></p>
  <p><b>Message: </b> <%= message.text %></p>
  <p><b>Added: </b> <%= message.added.toLocaleString() %></p>
  <a href="/">Back to Messages</a>
</body>
</html>