<head>
  <title>Message Details</title>
  <link rel="stylesheet" href="main.css">
</head>
<body>
  <h2>Message Details</h2>
  <p>User: <%= message.user %></p>
  <p>Message: <%= message.text %></p>
  <p>Added: <%= message.date %></p>
  <a href="/">Back to Messages</a>
</body>
</html>