*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-image: url(https://wallpapercave.com/wp/wp10775131.jpg); */
    background-color: rgba(33, 43, 43, 0.877);
    background-size: 100vw;
    color: aliceblue
}

h1 {
    margin:1em;
    text-align: center;
    font-family: monospace;
    letter-spacing: 0.16rem;
}

div {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* word-spacing: 0.3rem; */
}
.ewoma {
    margin:2em;
    background-color: rgb(33, 43, 43);
    border-radius: 2em;
    padding: 1em;
    max-width: 50%;
    float: right;
    }

.vic {
    margin: 2em;
    background-color: rgb(33, 43, 43);
    border-radius: 2em;
    padding: 1.5em;
    max-width: 50%;
    float: left;
}

.ose {
    margin: 2em;
    background-color: rgb(33, 43, 43);
    border-radius: 2em;
    padding: 1em;
    max-width: 50%;
    float: right;
}

.dave {
    margin: 2em;
    background-color: rgb(33, 43, 43);
    border-radius: 2em;
    padding: 1.5em;
    max-width: 50%;
    float: left;
}

#names {
    text-align: right;
    margin-top: 2em;
    font-style: italic;
    font-weight: bolder;
}

.socials {
    border-style: none;
    padding: 0.3em;
    margin: 1em;
    border-radius: 0.7em;
    font-size: 1.5em;
}
button:hover {
 opacity: 0.8;
}c