body{
    background-color: rgb(130, 91, 59);
    color:bisque;
}

input{
    border: none;
    padding: 0.8em;
    margin: 0.5em;
}
h1 .min {
    font-size: 2em;
    font-family: monospace;
}
h2 {
    font-size: 2.6em;
    font-family: monospace;
    margin: 2em;
}

form{
    margin: 1em;
    max-width: 50%;
}

.msg{
    margin-top: 2em;
}

li {
    margin: 2em;
    padding: 2em;
    border:rgb(90, 44, 21);
    border-style: solid;
    border-radius: 1em;
    max-width: 60%;
    list-style: none;
}


a{
    color:rgb(255, 255, 255);
    font-size: 1.5m;
    font-weight: bold;
    text-decoration: none;
}

li .open{
    float: right;
}

a:hover {
    color: black;
}

input, textarea{
    background-color: rgba(222, 184, 135, 0.691);
    color: #462210;
    border-radius: 5px;
    font-size: 16px; 
    font-family: inherit;
}

textarea{  
    padding: 10px;
    font-size: 16px; 
    border-radius: 5px;
    max-width: 100%;
    max-height: 30%;
    width: 100%;
    height: 30%;
    min-width: 100%;
    min-height: 30%;
    border-style: none;
}

input.submit{
    background-color: #462210;
    color: burlywood;
    margin-top: 2em;
} 

input.submit:hover{
    background-color: burlywood;
    color: #462210;
    cursor: pointer;
} 

.msgDeT{
    margin: 2em;
    padding: 2em;
    border:rgb(90, 44, 21);
    border-style: solid;
    border-radius: 1em;
    max-width: 60%;
    font-size: 20px;
}

.btm{
    padding: 0.5em;
    background-color: #462210;
    color: burlywood;
    font-size: 15px;
    border: none;
    float: right;
    border-radius: 5px;
    margin-right: -2em;

}

input::placeholder, textarea::placeholder{
    color:rgb(82, 54, 54)
}

.btm:hover{
    background-color: burlywood;
    color: #462210;
    cursor: pointer;
}
