* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background: hwb(180 9% 84%);
}

.task-form{
    margin: 3em 4em 4em 4em;
    background-color:aliceblue;
    border-radius: 2em;
    padding: 1em;
    font-size: 1.5em;
    max-width: 50%;
    align-content: center;
}

h1 {
    text-align: left;
    font-size: 1.9em; 
}

.form-control .task-input{
    margin: 3em -7em 2em 1em;
    border-style: none;
    border-radius: 2em;
    background: #0412093e;
    padding: 1em;
    width: 80%;
    font-weight: bold;
    font-size: 0.57em;
}

button {
    border-radius: 2em;
    background-color: #564e75;
    border-style: none;
    padding: 1.1em;
    width: 25%;
    color:aliceblue;
    font-weight: bolder;
    margin: 0 0 2em 2em;
    cursor: pointer;
}

.tasks{
    margin: 8em;
    font-size: 1em;
    background-color: aliceblue;
    border-radius: 2em;
    padding: 1em;
}

