*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: cursive;
}

body {
    background: linear-gradient(90deg, #2957adf3, #490079f3 );
  
}

.container {
    width: 100%;
    max-width: 55%;
    background: rgb(119, 164, 201);
    padding: 2em 1em;
    border-radius: 2em;
    margin: 5em auto 0;
    margin-bottom: 2em;
    text-align: center;
}

h1 {
    text-align: left;
    font-family: monospace;
    font-size: 1.9em; 
}

.add input{
    margin: 3em -7em 2em 1em;
    border-style: none;
    border-radius: 2em;
    background: #b6b9c97c;
    padding: 1em;
    width: 80%;
    font-weight: bold;
    font-size: 0.78em;
}

.add button {
    border-radius: 2em;
    background-color: #e7722e;
    border-style: none;
    padding: 1em;
    width: 25%;
    color:aliceblue;
    font-weight: bolder;
    margin: 0 0 2em 2em;
    cursor: pointer;
}

ul li{
    text-align: left;
    padding: 1.2em;
    margin-left: 1.5em;
    position: relative;
    user-select: none;
    cursor: pointer;
    list-style: none;
    display: 1;

}

#tasks li::before {
    content: '';
    background-image: url(img/unchecked.png);
    position: absolute;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    height: 1.3em;
    width: 1.3em;
    bottom: 1.2em;
    left: -1em;
}
#tasks #checked::before {
    background-image: url(img/checked.png);

}

#tasks #checked {
    text-decoration: line-through;
    color: #666666;
}

ul li span {
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    top: 10px;
    font-size: 1.4em;
    color: darkslategrey;
    text-align: center;
    line-height: 40px;
    

}